.input-cards {
  width: 40vw;
}

.m-gastos {
  margin-top: 16vh;
}

.trashImage {
  height: 3vh;
}

.resume-cards {
  width: 60vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cel {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .input-cards {
    width: auto;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .w-lg {
    width: 10vw;
  }

  .wrap-lg {
    flex-wrap: nowrap;
  }

  .flex-lg {
    flex-direction: row;
  }

  .p-lg {
    padding-right: 0;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
